.purple-background_old .column-header { -fx-background-color: #5e35b1; }
.purple-background { -fx-background-color: #494D55; }
.purple-background .label { -fx-text-fill: white; }

.purple-background .column-header { -fx-background-color: #20253c; }
.purple-background__header {
   -fx-background-color: #20253c;
   -fx-text-fill: white;
}
.split-pane *.split-pane-divider {
    -fx-background-color: #20253c;
}

.purple-background .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #280680;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #494D55;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .filler {
    -fx-background-color: #494D55;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #494D55;
}


